---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { Image, Picture } from '@astrojs/image/components';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			section{
			}
			ul {
				list-style: none;
				padding: unset;
				display: grid;
				column-gap: 1.5rem;
    			row-gap: 1.5rem;
    			text-align: center;
				grid-template-columns: 1fr;
			}
			@media (min-width: 500px) {
				ul{
					grid-template-columns: 1fr 1fr;
				}
			}
			@media (min-width: 1200px) {
				ul{
					grid-template-columns: 1fr 1fr 1fr;
				}
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
			h3{
				margin-top: .1em;
				text-align: left;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<Picture src={post.data.heroImage} widths={[100,400,800]} aspectRatio="16:9" />
									<h3>{post.data.title}</h3>
								</a>							
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
